<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
       <h3 class="follow_text">Follow Now</h3>
       <div class="social_icon">
          <ul>
             <li><a href="https://www.facebook.com/profile.php?id=100023966173464" target="_blank"><img src="/images/fb-icon.png"></a></li>
             <li><a href="https://x.com/riyal_Vivek" target="_blank"><img src="/images/twitter-icon.png"></a></li>
             <li><a href="https://www.linkedin.com/in/foreverDEVvivek" target="_blank"><img src="/images/linkedin-icon.png"></a></li>
             <li><a href="https://www.instagram.com/pro_programming_hub/" target="_blank"><img src="/images/instagram-icon.png"></a></li>
             <li><a href="https://www.youtube.com/@Pro_programming_Hub" target="_blank"><img src="/images/youtub-icon.png"></a></li>
          </ul>
       </div>
       <div class="location_main">
          <div class="location_left">
             <div class="call_text"><a href="https://maps.windows.com/?form=WNAMSH&collection=point.28.612404_77.34706_My%20location%20%28within%2082%20m%29" target="_blank"><img src="/images/map-icon.png"><span class="call_padding">Location</span></a></div>
          </div>
          <div class="location_middle">
             <div class="call_text"><a href="mailto:spareg1234@gmail.com" target="_blank"><img src="/images/mail-icon.png"><span class="call_padding">spareg1234@gmail.com</span></a></div>
          </div>
          <div class="location_right">
             <div class="call_text"><a href="tel:+919310460643"><img src="/images/call-icon.png"><span class="call_padding">Call +91 9310460643</span></a></div>
          </div>
       </div>
    </div>
 </div>
 <!-- footer section end -->
 