<% layout('/layouts/boilerplate') %>

      <!-- background bg start -->
      <div class="background_bg">
        <!-- about section start -->
         <div class="about_section layout_padding">
            <div class="container">
               <h1 class="watchs_taital">02<br>About Shop</h1>
               <div class="about_section_2">
                  <div class="row">
                     <div class="col-md-6">
                        <p class="about_text">"Crafting timepieces that transcend moments, <span class="comp_text"> Knock 2 Watches </span>embodies the art of precision and elegance in every tick."<br> We are manufacturing watches since 2004, we're leading in our category product, we do not sell product we build trust that is our motive.<br>
                        Since establishment, we have made 4000+ customers satisfied. Our branch is located at<br>
                     <br>
                      <span class="comp_text">F-02, B-46, B Block, Sector 63, Noida, Uttar Pradesh-201309</span></p>
                        
                        <!-- Inactive button -->
                    <div class="read_bt2"><a href="/watchs">Back To Shopping!</a></div>
                     </div>
                     <div class="col-md-6">
                        <div class="image_2"><img src="/images/img-3.png"></div>
                     </div>
                  </div>
               </div>
               <div class="about_section_3">
                  <div class="row">
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="images/img-4.png"></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="images/img-5.png"></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="images/img-6.png"></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="images/img-7.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- about section end -->
      </div>
      <!-- background bg end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
   </body>
</html>