<% layout('/layouts/boilerplate') %>

      <!-- background bg start -->
      <div class="background_bg">
        <!-- contact section start -->
        <div class="contact_section layout_padding">
          <div class="container">
            <h1 class="watchs_taital">04<br>Get In Touch</h1>
          </div>
           <div class="contact_section_2">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="mail_section_1">
                    <form method="POST" action="/">
                    <input type="text" class="mail_text" placeholder="Your Name" name="name">
                     <input type="text" class="mail_text" placeholder="Phone Number" name="number">
                     <input type="text" class="mail_text" placeholder="Email" name="email">
                     <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="message"></textarea>
                     <button class="send_bt"><a>SEND</a></button>
                  </form>
                  </div>
                </div>
                <div class="col-md-6 padding_right_0">
                  <div class="map_section"><img src="images/map-img.png"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- contact section end -->
        <div class="container">
          <h1 class="watchs_taital">02<br>Visit Us</h1>
          <div class="about_section_2">
             <div class="row">
                <div class="col-md-12">
                   <p class="about_text">"Crafting timepieces that transcend moments, <span class="comp_text"> Knock 2 Watches </span>embodies the art of precision and elegance in every tick."<br> We are manufacturing watches since 2004, we're leading in our category product, we do not sell product we build trust that is our motive.<br>
                   Since establishment, we have made 4000+ customers satisfied. Our branch is located at<br>
                <br>
                 <span class="comp_text">F-02, B-46, B Block, Sector 63, Noida, Uttar Pradesh-201309</span></p>
                   <div class="read_bt1"><a href="/watchs">Shop More !</a></div>
                </div>
             </div>
          </div>

       </div>
      </div>
      <!-- background bg end -->

      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
   </body>
</html>